.table-header_wrapper{
  position: relative;
  display: grid;
  grid-template-columns: 6.2fr 1.8fr 1.6fr 2fr 2fr;
  grid-column-gap: 10px;
  align-items: center;

  height: 25px;
  padding-left: 15px;
  padding-right: 12px;
  margin-top: 24px;
  background: #FFFFFF;
  border-radius: 3px;
}

.TableHeader__title{
  font-weight: 500;
  font-size: 11px;
  line-height: 13px;
  text-transform: uppercase;

  color: #999999;
  cursor: pointer;

  &.asc::after {
    content: "ᐱ";
    display: inline-block;
    margin-left: 1em;
  }
  &.desc::after {
    content: "ᐯ";
    display: inline-block;
    margin-left: 1em;
  }
}
